<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- JSON lines to stdout; MDC (traceId, spanId) filled by OTEL_MDC when a span is active -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>


    <!-- Logger configurations for specific packages -->

    <logger name="io.netty.util.internal" level="WARN" />

    <logger name="sttp.tapir.server.ziohttp" level="INFO" />

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>